.vscode/**
.vscode-test/**
.claude/**
src/**
icon/*.svg
node_modules/**
.idea/**
.git/**
.gitignore
.gitattributes
.yarnrc
.eslintcache
vsc-extension-quickstart.md
eslint.config.mjs
tsconfig.json
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.tsbuildinfo
*.vsix
.tmp-*
